{% extends "layout.html" %}

{% block title %}
    Delete
{% endblock %}

{% block main %}
    <form action="/delete" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div>
            <select name = "site_name">
                <option value = "" disabled selected>-- Select a site --</option>
                {% for sites in passwords %}
                    <option value = "{{sites.site_name}}" > {{sites.site_name}} </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Delete</button>
    </form>
{% endblock %}
